<launch>
	<include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        	<arg name="robot_ip" value="192.168.1.5"/>
	</include>
	<include file="$(find geomagic_control)/launch/geomagic_headless.launch">
	</include>

	<node pkg="haptic_ur5e" type="jointmove4.py" name="haptic_jointpose" output="screen">
	</node>
</launch>
